@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.logo-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-left: 150px;
  margin-top: 20px;
}

.logo-container img {
  height: 50px;
  margin-right: 10px;
}

.logo-container .logo-text {
  font-weight: bold;
  font-size: 36px;
  color: #FF7F27;
}

#search {
  display: inline-flex;

}

